.topBar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
}
.topBar-Wrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: darkblue;
  cursor: pointer;
}
.topBar-Wrapper_right {
  display: flex;
  align-items: center;
}
.topBar-Wrapper_right-IconContainer {
  position: relative;
  color: #555;
  cursor: pointer;
  margin-left: 10px;
}
.topBar-Wrapper_right-IconContainer_badge {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  background-color: red;
  position: absolute;
  top: -5px;
  right: 0;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
