.product {
  flex: 4;
  padding: 20px;
  margin: 0 20px;
  /* box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75); */
}
.product-Title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-Title_add-btn {
  border: none;
  font-size: 16px;
  padding: 4px;
  width: 80px;
  color: #fff;
  background-color: teal;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.product-top {
  display: flex;
}
.product-top_left {
  flex: 2;
}
.product-top_right {
  flex: 1;
}
.product-top_right {
  margin: 30px;
  padding: 20px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}
.product-Info_top {
  display: flex;
  align-items: center;
}
.product-Info_top-img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.product-Info_top-title {
  font-weight: 600;
  font-size: 32px;
}
.product-Info_bottom {
  margin-top: 20px;
}
.product-Info_item {
  display: flex;

  justify-content: space-between;
}
.product-Info_item-key {
  font-weight: 600;
  font-size: 20px;
}
.product-Info_item-value {
  font-weight: 300;
  font-size: 18px;
}
.product-bottom {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}
.product-form {
  display: flex;
  justify-content: space-between;
}
.product-form_left {
  display: flex;
  flex-direction: column;
}
.product-form_left > label {
  color: gray;
  margin-bottom: 10px;
}
.product-form_left-input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}
.product-form_left-input:focus {
  outline: none;
}
.product-form_left > select {
  margin-bottom: 10px;
}

.product-form_right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.product-uploader {
  display: flex;
  align-items: center;
}
.product-uploader-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.product-uploader-btn {
  border: none;
  background-color: darkblue;
  color: #fff;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
