.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  /* top: 50px; */
}
.sidebar-wrapper {
  color: #555;
  padding: 20px;
}
.sidebar-wrapper-menu {
  margin-bottom: 10px;
}
.sidebar-wrapper-menu-title {
  color: rgb(187, 186, 186);
  font-size: 14px;
}
.sidebar-wrapper-menu_list {
  list-style: none;
  padding: 5px;
}
.sidebar-wrapper-menu_list_item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sidebar-wrapper-menu_list_item.active,
.sidebar-wrapper-menu_list_item:hover {
  background-color: rgb(240, 240, 255);
}
.sideBarIcon {
  font-size: 20px;
  margin-right: 5px;
}
/* a {
  all: unset;
} */
