.features {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.featureItem {
  flex: 1;
  margin: 0 20px;
  padding: 30px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.featureItem-title {
  font-size: 20px;
}
.featureItem-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.featureItem-container_money {
  font-size: 30px;
  font-weight: 600;
}
.featureItem-container_rate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.featureItem-container_rate_icon {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}
.featureItem-container_rate_icon.negative {
  color: red;
}
.featureItem-desc {
  color: gray;
  font-size: 14px;
}
